<!DOCTYPE html>
<html>
    {% extends "base.html" %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<title>To-Do List</title>
<main>
    {% block content %}
    <h1>{{ title }}</h1>
    <div id="add-form" class="modal" style="display:block;">
        <form method="POST" action="{{ url_for('add_task') }}">
            <input class="input-task" type="text" name="task_description" placeholder="Введите задачу" required>
            <button type="submit">Добавить</button>
        </form>
    </div>
    <div id="task-list">
        {% for task in tasks %}
        <div class="task">
            <span class="task-number">{{loop.index}}.</span>
            <form class="complete_box" method="POST" action="{{ url_for('complete_task_form', task_id = loop.index0) }}">
                <input type="checkbox" onchange="this.form.submit()" name='completed' value="True" {% if task.completed %}checked{% endif %}>
            </form>
            {% if task.completed %}
            <s>{{ task.description }}</s>
            {% else %}
            {{ task.description }}
            {% endif %}
            <a class="delete-link" href="{{ url_for('delete_task', task_id = loop.index0) }}">❌</a>
        </div>
        {% endfor %}
    </div>
    {% endblock %}
</main>
</html>