h1 {
    text-align: center;
}

.modal {
    position: absolute;
    top: 70px;
    left: 15px;
    background: white;
    padding: 20px;
}

.input-task {
    height: 25px;
    width: 350px;
}

.task {
    margin: 10px 0;
    padding: 8px;
    position: relative;
    top: 50px;
    border-bottom: 1px solid #eee;
    display: flex;
    align-items: center;
    align-content: center;
}

.complete_box {
    display: flex;
    float: left;
}

.complete_box input {
    width: 15px;
    height: 15px;
}

.task-number {
    font-weight: bold;
    color: #666;
    margin-right: 8px;
    display: flex;
    float: left;
}
.task-text {
    font-size: 18px;
    position: relative;
    top: 1px;
    word-break: break-word;
}

.delete-form {
    margin-right: auto; /* Прижимает форму к правому краю */
    margin-left: 10px;
    color: white;
    width: 20px;
    height: 20px;
    cursor: pointer;
    font-size: 16px;

}

.delete-btn {
    border: 1px solid rgb(100,100,100);
    background-image: radial-gradient(circle, rgb(128, 128, 128), rgb(190,190,190));
    box-shadow: 0 0 0 white;
    font-size: 8px;
    text-align: center;
    border-radius: 20%;
    padding: 2px;
}

.delete-btn:hover {
    background-color: #666;
    border: 1px solid red;
}
