h1 {
    text-align: center;
}

.modal {
    position: absolute;
    top: 70px;
    left: 15px;
    background: white;
    padding: 20px;
}

.input-task {
    height: 25px;
    width: 350px;
}
.task {
    margin: 10px 0;
    padding: 8px;
    position: relative;
    top: 50px;
    border-bottom: 1px solid #eee;
}

.complete_box {
    display: flex;
    float: left;
    position: relative;
    top: 2px; 
}

.task-number {
    font-weight: bold;
    color: #666;
    margin-right: 8px;
    display: flex;
    float: left;
    position: relative;
    top: 3px;
}



.delete-link {
    margin-left: auto; /* Прижимает кнопку к правому краю */
    background: #ff4444;
    color: white;
    border: none;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    cursor: pointer;
    font-size: 16px;
    text-decoration: none;
    padding:3px 1px 3px;
}

.delete-link:hover {
    background: #cc0000;
}

.flash {
    transition: display 3 linear;
    display: none;
}